.playersContainer{
    display: flex;
    justify-content: space-evenly;
    flex: 3;
    width: 100%;
}

.mainMessage{
    flex: 2.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.matchCode {
    margin: auto;
    font-size: 36px;
    opacity: 0.7;
    flex: 0.5;
}
