/*
@import url(https://db.onlinewebfonts.com/c/755ac4a5c4a3144f96657f6f555ab38e?family=Core+Magic+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/691548bdb28878b6980b20ad51fe6d8e?family=DIN+Next+Slab+W04+Regular);
*/
* {
    color: #F8F8F8;
    font-family: "Core Magic W00 Regular", serif;
}

h1 {
    color: #F8F8F8;
    font-family: "Core Magic W00 Regular", serif;
}

h2 {
    color: #F8F8F8;
    font-family: "DIN Next Slab W04 Regular", serif;
}


.modal-content {
    background: none !important;
}


.bg-navbar {
    background: #2c2c2c !important;
    --bs-bg-opacity: 1;
}
