@font-face {
    font-family: 'Core Magic';
    src: url(./fonts/core-magic.ttf) format('truetype');
}

@font-face {

    font-family: 'DIN Next Slab Pro';
    src: url(./fonts/din-next-slab-pro.ttf) format('truetype');
}

*{
    color: #F8F8F8;
    font-family: 'DIN Next Slab Pro', serif;
}

h1, h2{
    font-family: 'Core Magic', serif;
}

.modal-content {
    background: none !important;
}


.bg-navbar {
    background: #2c2c2c !important;
    --bs-bg-opacity: 1;
}
